.button {
  padding: 14px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-charcoal;
  border: 2px solid $color-charcoal;
  background-color: $color-white;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: $color-charcoal;
    color: $color-white;
  }

  &:active {
    background-color: $color-charcoal;
    color: transparentize($color-white, 0.7);
  }

  &--colored {
    border: 0;
    background-color: $color-downy;
    color: $color-white;
    padding: 19px;
    font-size: 17px;
    line-height: 16px;

    &:hover {
      background-color: $color-downy;
      color: $color-white;
      opacity: 0.6;
    }

    &:active {
      background-color: $color-downy;
      color: $color-white;
      opacity: 0.3;
    }
  }

  @media (min-width: $vp-768) {
    padding-left: 38px;
    padding-right: 38px;
    font-size: 17px;
  }
}
