.footer {
  margin-top: auto;
  background-color: $color-white-smoke;
}

.footer__wrapper {
  padding-bottom: 23px;
  display: flex;
  flex-direction: column;

  @media (min-width: $vp-768) {
    flex-direction: row;
    gap: 30px;
    padding-top: 51px;
    padding-bottom: 58px;
    justify-content: space-between;
  }
}

.footer__logo {
  display: none;
  width: 102px;
  height: 34px;
  color: $color-black;

  @media (min-width: $vp-768) {
    display: block;
  }

  &:hover {
    color: $color-puerto-rico;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__logo-img {
  width: 102px;
  height: 34px;
}

.footer__social {
  display: flex;
  list-style-type: none;
  width: 100%;
  justify-content: center;
  gap: 5px 29px;
  padding-bottom: 24px;
  margin: 28px auto 22px auto;
  border-bottom: 1px solid $color-whisper;
  flex-wrap: wrap;

  @media (min-width: $vp-768) {
    padding-bottom: 0;
    margin: 6px 0 0 0;
    border: 0;
    width: unset;
  }
}

.footer__social-item {
  display: flex;
  justify-items: center;
}

.footer__social-icon {
  color: $color-aubergine;

  &:hover {
    color: $color-puerto-rico;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__copyright {
  display: flex;
  gap: 27px;
  justify-content: center;
  text-decoration: none;
  color: $color-black;
  font-weight: 700;
  font-size: 19px;
  align-items: center;

  & > .footer__copyright-logo {
    color: $color-downy;
  }

  &:hover {
    & > .footer__copyright-logo {
      color: $color-puerto-rico;
    }
  }

  &:active {
    & > .footer__copyright-logo {
      opacity: 0.3;
    }
  }
}
