.intro {
  background-color: #f9f9f9;
  width: 100%;
  padding-top: 73px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 31px;

  &--image {
    background-image: url("../img/content/intro-mobile.jpg");
    background-size: contain;
    background-position: 50% -18px;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/content/intro-mobile@2x.jpg");
    }

    @media (min-width: $vp-768) {
      background-image: url("../img/content/intro-tablet.jpg");
      min-height: 746px;
      margin-top: -47px;
      background-position: 50% 0;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/content/intro-tablet@2x.jpg");
      }
    }
  }

  @media (min-width: $vp-768) {
    margin-bottom: 53px;
  }

  @media (min-width: $vp-1024) {
    margin-bottom: 59px;
  }
}

.intro__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  margin-bottom: 120px;
  max-width: 260px;

  @media (min-width: $vp-768) {
    font-size: 43px;
    line-height: 50px;
    max-width: unset;
    margin-top: 83px;
    margin-bottom: 36px;
    max-width: 500px;
  }

  @media (min-width: $vp-1024) {
    margin-top: 87px;
    font-size: 53px;
    line-height: 57px;
    max-width: 890px;
  }
}

.intro__navigation {
  margin-top: auto;
  align-items: end;

  @media (max-width: ($vp-768 - 1px)) {
    padding: 0;
    margin-bottom: 0;
  }
}

.intro__navigation-list {
  list-style-type: none;
  display: grid;

  @media (min-width: $vp-768) {
    grid-template-columns: 1fr 1fr;
  }
}

.intro__navigation-item {
  width: 100%;
  display: flex;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    cursor: pointer;
    background-color: #149080;
    top: 21px;
    right: 27px;
  }

  &:hover,
  &:active {
    margin-top: -5px;
    padding-bottom: 5px;
  }

  &:hover::after {
    opacity: 0.6;
  }

  &:active::after {
    opacity: 0.3;
  }

  &--lamp {
    background-color: #63d1bb;

    &::after {
      mask: url("../img/sprite.svg#lamp");
      height: 62px;
      width: 40px;
      right: 36px;

      @media (min-width: $vp-768) {
        top: 30px;
      }
    }

    &:hover,
    &:active {
      background-color: #59d5bc;
    }
  }

  &--brick {
    background-color: #56c3b2;

    &::after {
      mask: url("../img/sprite.svg#brick");
      height: 60px;
      width: 60px;

      @media (min-width: $vp-768) {
        top: 32px;
        right: 34px;
      }
    }

    &:hover,
    &:active {
      background-color: #46c1ae;
    }
  }
}

.intro__navigation-link {
  width: 100%;
  text-align: start;
  text-decoration: none;
  padding: 24px 160px 31px 30px;

  @media (min-width: $vp-768) {
    padding: 25px 160px 34px 36px;
  }
}

.intro__navigation-text {
  color: #ffffff;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  max-width: 130px;

  @media (min-width: $vp-768) {
    font-size: 20px;
    line-height: 30px;
  }
}
