.product {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $vp-768) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $vp-1024) {
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
  }
}

.product__info {
  border: 1px solid $color-whisper--light;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 28px 27px 22px 27px;
  align-items: flex-start;

  @media (min-width: $vp-768) {
    padding: 27px 32px 23px 32px;
  }

  @media (min-width: $vp-1024) {
    padding: 28px 31px 22px 26px;
  }
}

.product__image,
.product__image-wrapper {
  width: 100%;
  height: auto;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.8;
  }
}

.product__title-wrapper {
  width: 100%;
  margin-bottom: 7px;
  text-decoration: none;
}

.product__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $color-black;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $vp-768) {
    font-size: 20px;
  }
}

.product__description {
  width: 100%;
  margin-bottom: 17px;
  font-size: 13px;
  line-height: 30px;

  @media (min-width: $vp-768) {
    font-size: 15px;
  }

  @media (min-width: $vp-1024) {
    margin-bottom: 11px;
  }
}

.product__price {
  font-weight: 700;
  max-width: calc(100% - 20px);

  @media (min-width: $vp-768) {
    font-size: 17px;
  }
}

.product__buy {
  border-top: 1px solid $color-whisper--light;
  width: 100%;
  padding-top: 24px;
  margin-top: auto;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.product__cart {
  color: transparentize($color-black, 0.8);

  &:hover {
    color: $color-downy;
    opacity: 1;
  }

  &:active {
    color: $color-downy;
    opacity: 0.3;
  }
}
