.video__wrapper {
  border: 1px solid #ececec;
  margin-bottom: 58px;
  padding: 22px 34px 33px 34px;

  @media (min-width: $vp-768) {
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }

  @media (min-width: $vp-1024) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content min-content 1fr;
    gap: 28px 54px;
    padding: 0;
    align-items: start;
  }
}

.video__title {
  margin-bottom: 20px;
  padding-left: 50px;

  @media (min-width: $vp-1024) {
    margin: 47px 57px 0 0;
    padding-left: 0;
    padding-top: 49px;
  }
}

.video__player {
  width: calc(100% + 34px * 2);
  margin-left: -34px;
  position: relative;

  @media (min-width: $vp-768) {
    order: -1;
  }

  @media (min-width: $vp-1024) {
    align-self: stretch;
    width: 100%;
    margin-left: 0;
    grid-area: 1 / 1 / -1 / 3;
  }
}

.video__player-image {
  width: 100%;
  height: auto;

  @media (min-width: $vp-1024) {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.video__player-button {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transform: translateX(-50%) translateY(-50%);
  color: #63d1bb;
  width: 100px;
  height: 77px;

  &:hover {
    width: (100px * 1.2);
    height: (77px * 1.2);
  }

  &:active {
    width: (100px * 0.8);
    height: (77px * 0.8);
    opacity: 0.3;
  }
}

.video__player-button-icon {
  width: 100%;
  height: 100%;
}

.video__button {
  @media (min-width: $vp-1024) {
    margin: auto 57px 60px 0;
  }
}

.video__description {
  @media (min-width: $vp-1024) {
    margin-right: 57px;
  }
}
