.page__body {
  min-width: $vp-320;
  font-family: $ff-opensans;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  font-size: $fs-default;
  line-height: $lh-default;
  background-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::after,
  &::before {
    box-sizing: border-box;
  }
}

img {
  max-width: 100%;
  display: block;
}
