/* BreakPoints */
$vp-320:                  320px;
$vp-768:                  768px;
$vp-1024:                 1024px;


/* Margin to content */
$distance-30:                 30px;
$distance-50:                 50px;


/* Content max-width */
$max-width:                      1150px;


/* Fonts */
$ff-opensans:               "OpenSans", "Arial", serif;


/* Text */
$fs-default:              15px;
$lh-default:              24px;


/* Colors */

