/* BreakPoints */
$vp-320:                  320px;
$vp-768:                  768px;
$vp-1024:                 1024px;


/* Margin to content */
$distance-30:             30px;
$distance-50:             50px;


/* Content max-width */
$max-width:               1150px;


/* Fonts */
$ff-opensans:             "OpenSans", "Arial", serif;


/* Text */
$fs-default:              15px;
$lh-default:              24px;


/* Colors */

$color-black:            #000000;
$color-white:            #ffffff;

$color-aubergine:        #231f20;

$color-charcoal:         #444444;
$color-white-smoke:      #f1f1f1;
$color-whisper:          #e5e5e5;
$color-whisper--light:   #ececec;
$color-snow:             #f9f9f9;
$color-silver:           #c6c6c6;
$color-gainsboro:        #e0e0e0;

$color-downy--light:     #62d1ba;
$color-downy:            #63d1bb;
$color-downy--dark:      #59d5bc;
$color-puerto-rico:      #46c1ae;
$color-puerto-rico--dark:#56c3b2;
$color-dark-cyan:        #149080;
